{% extends "base/layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/user.css') }}">
{% endblock %}
{% block content %}
  <h1> User Login </h1>
  <form method="POST">
    {% if error.token|length > 0 %}
      {% for err in error.token %}
        <small class="error">{{ err }}</small>
      {% endfor %}
    {% endif %}
    <input id="token" name="token" type="hidden" value="{{ token }}">
    <div class="form-group">
      <div class="input-container">
        <label for="email-input">Email:</label>
        <input id="email-input" name="email" type="text" required/>
        {% if error.email|length > 0 %}
          {% for err in error.email %}
            <small class="error">{{ err }}</small>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <div class="input-container">
        <label for="password-input">Password:</label>
        <input id="password-input" name="password" type="password" required/>
        {% if error.password|length > 0 %}
          {% for err in error.password %}
            <small class="error">{{ err }}</small>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div>
      <input type="submit" value="Submit" name="submit">
    </div>
  </form>
{% endblock %}