{% extends "base/layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/user.css') }}">
{% endblock %}
{% block content %}
  <h1> User Login </h1>
  <form method="POST">
    {% for field in error %}
      {% for err in error[field] %}
        <small class="error">{{ err }}</small>
      {% endfor %}
    {% endfor %}
    <input id="token" name="token" type="hidden" value="{{ token }}">
    <div class="form-group">
      <div class="input-container">
        <label for="email-input">Email:</label>
        <input id="email-input" name="email" type="text" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-container">
        <label for="password-input">Password:</label>
        <input id="password-input" name="password" type="password" required/>
      </div>
    </div>
    <div>
      <input type="submit" value="Submit" name="submit">
    </div>
  </form>
{% endblock %}