{% extends "base/layout.html" %}
{% block title %} Test Dashboard {% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/user.css') }}">
{% endblock %}
{% block content %}
    <h1>List of Tests</h1>
    <div class="test-container">
      <div class="test-list-header">
        <span>Name</span>
        <span>Total number of problems</span>
        <span>Total Marks</span>
        <span>Difficulty</span>
        <span>Status</span>
      </div>
    {% for test in tests %}
      <div class="entry-container">
        <span>{{ test.name }}</span>
        <span>{{ test.problem_count }}</span>
        <span>{{ test.total_marks }}</span>
        <span>{{ test.difficulty }}</span>
        <span>{{ test.status }}</span>
        <a href="/test/{{ test.test_id }}">View Test</a>
      </div>
    {% endfor %}
    </div>
{% endblock %}