<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AstroTrain - Registration</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/user.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h1> User Registration </h1>
    <form method="POST">
      {% if error != '' %}
        <span> {{ error }} </span>
      {% endif %}
      <input id="token" name="token" type="hidden" value="{{ token }}">
      <div class="form-group">
        <div class="input-container">
          <label for="first-name-input">First Name:</label>
          <input id="first-name-input" name="first_name" type="text" required/>
        </div>
        <div class="input-container">
          <label for="last-name-input">Last Name:</label>
          <input id="last-name-input" name="last_name" type="text" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <label for="email-input">Email:</label>
          <input id="email-input" name="email" type="text" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <label for="password-input">Password:</label>
          <input id="password-input" name="password" type="password" required/>
        </div>
      </div>
      <div>
        <input type="submit" value="Register" name="Register">
      </div>
    </form>
  </body>
</html>